/* FONT */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,100,700,300italic,400italic,700italic,900,900italic);

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del,
details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe,
img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong,
sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;

    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.1;
    color: #CCC;}
body {
  background: #1C1C1C;}
.page{
        width: 100%;
    margin-top: 50vh;
    z-index: 1;}
.content{
    margin: 0 auto;
    width: 1000px;}
h1, h2, h3, h4, h5, h6 {line-height: 1.4; font-weight: 300; text-align: center}
h1{font-size: 4em; text-transform: uppercase}
h2{font-size: 2.1em}
h3{font-size: 1.5em}
h4{font-size: 0.9em}
h5{font-size: 0.8em}
h6{font-size: 0.6em}
/*formatage text*/
a{ text-decoration: none; font-weight: 300;} /*mettre le text en normale*/
b{font-weight: bold;} /*mettre le text en gras*/
i{font-style:italic;}/*mettre le text en italic*/
small{font-size: 75%;}/*mettre le text en plus petit*/
ins{text-decoration: underline}/*ligne en dessous*/

::-webkit-scrollbar {
    width: 15px;
    height: 15px;}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;}
::-webkit-scrollbar-thumb {
    scrollbar-3dlight-color: #00cc00;
    scrollbar-darkshadow-color: #6633cc;
    background: rgba(164,26,26,0.35);
    border: 4px solid rgba(28,28,28,1);
    border-radius: 50px;}
::-webkit-scrollbar-thumb:hover {background: rgba(164,26,26,0.5);}
::-webkit-scrollbar-thumb:active {background: rgba(164,26,26,0.75);}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
    border: 4px solid rgba(28,28,28,1);
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-track:active {
    background: rgba(0,0,0,0.3);
}
::-webkit-scrollbar-corner {
    background: transparent;
}

/* CSS du site
 ********************************/


.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;}
.ParallaxLayer {
    padding: 10vh 0;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;}
.ParallaxBase {transform: translateZ(0);}
.ParallaxBack {transform: translateZ(-1px) scale(2);}
.ParallaxDeep {transform: translateZ(-2px) scale(3);}
.ParallaxG {
    min-height: 100vh;
    position: inherit;
    transform-style: preserve-3d;}


.scene{
    border-bottom: solid 35vh rgb(28,28,28);
}
.scene div{
    padding: inherit;
    overflow-y: hidden;

    position: absolute;
    height: 100vh;
    background-repeat: repeat-x;
    background-position: center;
    background-size: auto 100vh;
    width: 100%;
}

.p1{transform: translateZ(0); background-image: url(../img/p1.png);}
.p2{transform: translateZ(-1px) scale(2); background-image: url(../img/p2.png);}
.p3{transform: translateZ(-2px) scale(3); background-image: url(../img/p3.png);}
.p4{transform: translateZ(-3px) scale(4); background-image: url(../img/p4.png);}
.p5{transform: translateZ(-4px) scale(5); background-image: url(../img/p5.png);}
.p6{transform: translateZ(-5px) scale(6); background-image: url(../img/p6.png);}
.p7{transform: translateZ(-6px) scale(7); background-image: url(../img/p7.png);}
.p8{transform: translateZ(-7px) scale(8); background-image: url(../img/p8.png);}
.p9{transform: translateZ(-8px) scale(9); background-image: url(../img/p9.png);}
.p92{transform: translateZ(-9px) scale(10); background-image: url(../img/p9.2.png);}
.p10{transform: translateZ(-10px) scale(11); background-image: url(../img/p10.png);}

.work{
    margin: 0 auto;
    height: 226px;
    background-size: auto 100vh;
    background: url(../img/work.png) bottom center no-repeat;}
.work h1{margin: auto auto; line-height: 226px}

#DiamondGrid{
    width:60%;
    margin-left: 20%;
    float:left;

    transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);}
.diamond{
    width: 19%;
    padding-bottom:19%;
    margin:0.5%;
    background: #fff center;
    background-size: cover;
    float:left;
    position:relative;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease ;}
.diamond div{
    display:block;
    position:absolute;
    left:0;
    width:100%;
    height:100%;
    vertical-align: middle;

    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);}
.diamond div h3{
    opacity: 0;
    line-height: 10%;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    margin-top:50%;
    color: #ffffff;

    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease ;}
.diamond:hover > div > h3{opacity: 1;}
.t1{
    clear:left;
    width: 39%;
    padding-bottom: 39%;}
.t2{margin-top: 20.5%}
.t3{clear:left;}
.t4{
    width: 39%;
    padding-bottom: 39%;}
.diamond:hover{
    width: 20%;
    padding-bottom:20%;
    margin:0;}
.t2:hover{margin-top: 20%}
.t4:hover, .t1:hover{
    width: 40%;
    padding-bottom:40%;
    margin:0;}
.w1{background-image:url(../img/);}
.w2{background-image:url(../img/);}
.w3{background-image:url(../img/w3.jpg);} .w3:hover{background-image:url(../img/w33.jpg);}
.w4{background-image:url(../img/);}
.w5{background-image:url(../img/);}
.w6{background-image:url(../img/w6.jpg);} .w6:hover{background-image:url(../img/w66.jpg);}
.w7{background-image:url(../img/);}

.transition{clear: both;text-align: center;}
.transition img{margin-top: 5%;}

.services{
    margin-top: 5vh; padding-bottom: 25%;}
.servicesB{
    transform: translateZ(-1px) scale(1);
    width: 200%;
    position: absolute;
    margin-left: -50%;
    top: -100vh;

    background-size: cover;
    background: #1C1C1C url(../img/BackgroundServices.png) center;}
.services p {text-align: center;}
.BS{
    margin-top: 150px;
    padding-bottom: 8%;
    background-size: cover;
    background-image: url(../img/trace.png);}
.planete{
    position: absolute;
    z-index: 10;
    width: 300px;
    padding-bottom: 150px;
    background: url(../img/planete.png) center;
    background-size: cover;
    margin-top: 45%;
    margin-left: 65%;}

.losange{
    background: #303030;
    width: 15%;
    padding-bottom: 15%;

    transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);

    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease ;}
.losange:hover{background: #2c2c2c}
.losange div{
    display:block;
    position:absolute;
    left:0;
    width:100%;
    height:100%;
    vertical-align: middle;

    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);}
.losange div h3{
    line-height: 100%;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    margin-top:40%;
    color: #ffffff;}
.l1{margin-left: 8%;}
.l2{
    margin-left: 86%;
    margin-top: -6%;}
.l3{
    margin-top: 30%;
    margin-left: -5%;}
.l4{
    margin-top: 20%;
    margin-left: 82%;}
.l5{
    margin-top: 0;
    margin-left: 40%;

    width: 14%;
    padding-bottom: 14%;}
.l6{
    width: 17%;
    padding-bottom: 17%;
    position: absolute;
    margin-left: 2%;
    background-color: #951A1A;}
.l6:hover{background-color: #851a1a;}

.Moi{
    padding-top: 8%;
    text-align: center;
    font-size: 17px;
    height: 100%;
    background: url(../img/B1.png) center no-repeat;
    background-size: cover;}
.Moi div img{margin-bottom: 10vh; margin-right: 10%; margin-left: 10%}
.Moi div p span{color: #A21919;}
.contact{
    vertical-align: middle;
}
.contactB {
    min-height: 500px;
    color: #A21919;
    text-align: center;
    font-size: 17px;
    background: url(../img/B2.png) center no-repeat;}
.contactT{
    margin: 20px auto;
    padding: 20px;
    max-width: 300px;
    border-bottom: 1px solid rgba(255,255,255,0.8);
    border-top: 1px solid rgba(255,255,255,0.8);}
.contactT p, .contact h1{color: #951A1A; margin-top: 15px}
.contactT a{color: #fff; font-size: 0; vertical-align: middle;
-webkit-transition: all 0.35s ease;
-moz-transition: all 0.35s ease;
-o-transition: all 0.35s ease;
transition: all 0.35s ease ;}
.contactT span{font-size: 3px}
.contact p:hover > a {font-size: 15px;}

.Footer{
    background: #141414;
    padding: 10px;
}

/* Media queries */
@media screen and (min-width: 2200px){
    .l2{
        margin-left: 90%;
        margin-top: -4%;
    }
    .l4{
        margin-top: 24%;
        margin-left: 82%;}
    .l5{
        margin-left: 35%;
        margin-top: 0;}
    .l6{
    }
}
@media screen and (max-width: 1000px) {
    .content{width: 80%;}

    #DiamondGrid{
        transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        width:90%;
        margin-left: 5%;
        text-align: center;}
    .diamond:nth-child(1){
        margin-top: 18%;
    }
    .diamond, .t1, .t2,.t3,.t4{
        transform:rotate(-45deg);
        -ms-transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
        width: 38%;
        padding-bottom: 38%;
        margin: 1% 1% 20% 30%;
        clear:left;
        text-align: center;}
    .diamond:hover, .t1:hover, .t2:hover,.t3:hover,.t4:hover{
        width: 40%;
        padding-bottom: 40%;
        margin: 0 0 19% 29%;}

}
@media screen and (max-width: 650px) {
    .content{width: 92%;}
}